@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.logo-container {
  position: absolute;
  left: 400px;
  top: -220px;
  z-index: -100;
  animation: rotate180 70s linear infinite;

  // .solid-logo {
  //   height: 1200px;
  //   margin-left: 100px;
  // }
}

@media (max-width:1200px) {
  .logo-container {


    .solid-logo {
      width: 1000px;
      margin-left: -400px;
    }
  }
}