.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-width: 90%;

    h1 {
      font-size: 53px;
      font-family: 'coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '<h1 />';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-left: 20px;
        bottom: -20px;
        left: -30px;
        opacity: 0.6;
        line-height: 18px;
      }
    }

    p {
      font-size: 18px;
      color: #fff;
      font-family: 'coolvetica';
      min-height: fit-content;
      animation: pulse 1s;
      line-height: 26px;


      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }

    }
  }

  .contact-form {

    width: 100%;
    margin-top: 20%;
    display: flex;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;

      }

      .name__email {
        display: flex;
        gap: 10px;
      }
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background-color: #2425264c;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      font-size: 16px;
      height: 50px;
      background-color: #2425264c;
      min-height: 150px;
      padding: 20px;
      border: 0;
      box-sizing: border-box;
      color: white;
    }

    .flat-button {
      color: #ffd700;
      background: 0 0;
      font: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      float: right;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
      }

      &:active {
        background-color: white;
        color: black;
      }
    }

  }

  .info-map {
    position: absolute;
    background-color: rgb(22, 22, 22);
    top: 50px;
    right: 30%;
    z-index: 9999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Halvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
      font-size: 16px;
      display: block;
      color: #ffd700;
    }
  }

  .map-wrap {

    background: rgba(88, 88, 88, 0.1);
    float: right;
    width: 53%;
    height: 100vh;
    position: relative;

    .leaflet-container {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      animation: backInRight 1s 1.2s;
      animation-fill-mode: forwards;

      .leaflet-marker-icon {
        display: none;
      }

      .leaflet-marker-shadow {
        display: none;
      }
    }

    .scroll-up-container {
      position: absolute;
      z-index: 9999999;
      top: 0;
      right: 0;
      font-size: 20px;
      font-family: 'coolvetica';
      font-weight: 200;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  .leaflet-popup-content {
    font-size: 12px;
  }
}

@media (max-width:1200px) {
  .map-wrap {
    float: none !important;
    width: 100% !important;
    height: 400px !important;
    margin: 0 !important;
  }

  .info-map {
    display: none !important;
  }
}